* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    background-color: #333;
    color: #f1f1f1;
    font-family: 'Courier New', Courier, monospace;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

::selection {
    background-color: chocolate;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    transition: transform 0.3s;
    font-weight: 400;
    font-size: 2em;
    cursor: default;
}
/**Description du projet **************/
div.bloc-description {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 50%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

div.title {
    font-family: 'Syncopate', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


h2.project-name {
    font-size: 3em;
    text-align: start;
    letter-spacing: 3px;
}

p.project-info {
    /* font-family: 'Circular-Loom'; */
    font-family: 'Itim', cursive;

    text-align: start;
    font-size: 1.5em;
    font-weight: 200;
}

/**Footer description ********************/
.description-scroll-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.see-more {
    padding: 20px;
    width: 200px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid;
    opacity: 0.5;
    transition: opacity 0.5s;
}

/**Back from desciption*****************************/
.button-back{
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    opacity: 0.5;
}
.button-back:hover{
    cursor: pointer;
    opacity: 1;
}
.arrows{
    width: 100%;
    height: 100%;
}
.arrow-first-down{
    position: absolute;
    top: 35%;
    left: 50%;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
    transform:  translate(-50%, -50%) rotate(315deg) ;
    animation: arrowFadeDown 3s 0.2s infinite ease-out;
}
.arrow-second-down{
    position: absolute;
    top: 70%;
    left: 50%;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
    transform: translate(-50%, -50%) rotate(315deg);
    animation: arrowFadeDown 3s  infinite ease-out;
}

@keyframes arrowFadeDown {
    0% {opacity: 1; transform: translateY(0px) scale(1) translate(-50%, -50%)rotate(315deg) ;}
  25%{opacity: 0; transform:translateY(10px) scale(0.9) translate(-50%, -50%) rotate(315deg);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9) translate(-50%, -50%) rotate(315deg);}
  55% {opacity: 1; transform: translateY(0px) scale(1) translate(-50%, -50%) rotate(315deg);}
}
/* button.back {
    padding: 10px;
    width: 100px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid;
    opacity: 0.5;
    transition: opacity 0.5s;
} */

/** See More Button *****************************/
.button-see-more{
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    opacity: 0.5;
}
.button-see-more:hover{
    cursor: pointer;
    opacity: 1;
}

/** About ***************************************/
.button-about{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.5s;
    transform: scale(0, 0);
    transition: transform 0.5s;
}
.button-about:hover{
    cursor: pointer;
    opacity: 1;
}
.arrows{
    width: 100%;
    height: 100%;
}
.arrow-first-left{
    position: absolute;
    top: 50%;
    left: 35%;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
    transform:  translate(-50%, -50%) rotate(45deg) ;
    animation: arrowFadeLeft 4s infinite ease-out;
}
.arrow-second-left{
    position: absolute;
    top: 50%;
    left: 70%;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: arrowFadeLeft 4s 0.2s infinite ease-out;
}

@keyframes arrowFadeLeft {
    0% {opacity: 1; transform: translateX(0px) scale(1) translate(-50%, -50%)rotate(45deg) ;}
  25%{opacity: 0; transform:translateX(-10px) scale(0.9) translate(-50%, -50%) rotate(45deg);}
  26%{opacity: 0; transform:translateX(10px) scale(0.9) translate(-50%, -50%) rotate(45deg);}
  55% {opacity: 1; transform: translateX(0px) scale(1) translate(-50%, -50%) rotate(45deg);}
}
.arrow-first-right{
    position: absolute;
    top: 50%;
    left: 35%;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
    transform:  translate(-50%, -50%) rotate(225deg) ;
    animation: arrowFadeRight 4s 0.2s infinite ease-out;
}
.arrow-second-right{
    position: absolute;
    top: 50%;
    left: 70%;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
    transform: translate(-50%, -50%) rotate(225deg);
    animation: arrowFadeRight 4s  infinite ease-out;
}

@keyframes arrowFadeRight {
    0% {opacity: 1; transform: translateX(0px) scale(1) translate(-50%, -50%)rotate(225deg) ;}
  25%{opacity: 0; transform:translateX(10px) scale(0.9) translate(-50%, -50%) rotate(225deg);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9) translate(-50%, -50%) rotate(225deg);}
  55% {opacity: 1; transform: translateX(0px) scale(1) translate(-50%, -50%) rotate(225deg);}
}

.bloc-about {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 500px;
    height: 80vh;
    font-size: 1.5em;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: text;

}
.about-title{
    font-family: 'Syncopate', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
}
.about-text{
    /* font-family: 'Circular-Loom'; */
    font-family: 'Itim', cursive;

}
a {
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}

img.icon {
    transform: scale(1, 1);
    transition: transform 0.5s;
}

img.icon:hover {
    transform: scale(1.4, 1.4);
}

a:hover {
    cursor: pointer;
    opacity: 1;
}

.invisible {
    display: none;
}


/** Scroll indicator*******************************/
.scroll-indicator-section {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    color: #f1f1f1;

}
/* V2 */
.scroll-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-mouse{
    position: relative;
    height: 80px;
    width: 44px;
    border: 2px solid #f1f1f1;
    border-radius: 25%;
}
.scroll-mouse::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: #f1f1f1;
    height: 5px;
    width: 2px;
    animation: scroll 2s infinite;
}
@keyframes scroll {
    0%{
        top: 10%;
        transform: scale(1,1);
    }
    75%{
        top: 70%;
        transform: scale(1,1);
    }
    100%{
        top: 90%;
        transform: scale(0,0);
    }
}
.scroll-arrow{
    height: 25px;
    width: 25px;
    border-bottom: 3px solid #f1f1f1;
    border-left: 3px solid #f1f1f1; 
    transform: rotate(315deg);
    animation: fade 1s alternate infinite;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.percentage{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}
.button-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border: none;
    font-size: 3em;
    color: #f1f1f1;
    background: none;
    font-weight: 100;
    z-index: 9999;
    display: none;
    opacity: 0;
}
.button-loader:hover{
    color: aquamarine;
}

/** Responsive **************************************/

/*Large Screen*/
@media screen and (max-width: 1250px) {
    /** Bloc About**/
    .bloc-about{
        font-size: 1.4em;
        width: 385px;
        height: 70vh;
        top: 15%;
    }
    .about-title{
        font-size: 2.5em;
    }
    .button-about{
        left: 2%;
    }

    /**Bloc Description ****/
    .bloc-description{
        
    }
}
/*Laptop*/
@media screen and (max-width: 992px) {
    .bloc-about{
        font-size: 1.25em;
        right: 2%;
        width: 300px;
        height: 60vh;
        top: 20%;
    }
}
/*Tablet*/
@media screen and (max-width: 768px) {
    
}
/*Mobile*/
@media screen and (max-width: 600px) {
    
}